.login-col-1 {
  padding: 50px;
  background-image: url(../images/loginimg.png);
  background-size: cover;
  height: 100%;
  color: white;
}

.login-col-1 h1 {
  font-size: 2.8rem;
  font-weight: 600;
  color: rgb(53, 53, 53);
  margin-top: 50px;
  font-family: montserrat;
}

.login-col-1 p {
  margin-top: 20px;
  color: rgb(129, 129, 129);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.312);
  border-radius: 5px;
  font-family: montserrat;
}
